.navbar-nav {
    margin-left: auto;
    margin-right: 1 !important;
    text-align: center !important;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-logo {
    width:60%;
}

.navbar-search {
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-cart {
    padding-left: 1rem;
    padding-right: 1rem;
}
.nav-item {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

body {
    font-family: 'Blinker', sans-serif !important;
}

.name {
    display: relative;
    font-size: 1.5rem;
    color: #0B4451;
    font-family: 'Permanent Marker', cursive !important;
  }

.navbar-magnifying {
    width:60%;
}

.navbar-cartimg {
    width: 60%;
}